@CHARSET "UTF-8";

#mainContainer {
	height: 100%;
	width: 90%;
	border: 1px solid #111;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px;
}

#header {
	position: relative;
	left:100px;
	width: 80%;
	border: 2px solid #777;
}

#bankInfo {float:left;
	width: 45%;
	border: 2px solid #a1a;
}

#userInfo { float:right;
	width: 45%;
	border: 2px solid #3a3;
}

#menu-1 {
	
}

#content {
	position: fixed;
}


/**
#mainContainer {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
}

#header {
	width: 100%;
	 
	font-family: 'Trebuchet MS';
	font-size: 26px;
	display: none_;
	border-radius: 3px;
	border: 1px solid #333;
}

#bankInfo {
	width: 100px;
	border: 1px solid #333;
}

#userInfo {
	width: 100px;
	border: 1px solid #333;
	float: right;
}

#menu-1 {
	
}
*/