@CHARSET "UTF-8";

#main {
	border: 1px solid #000;
	width: 90%;
	margin: 0 auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#header {
	clear: both;
	border: 1px solid #777;
}

#bankInfo {
	float: left;
	border: 0px solid #3a3;
	width: 45%;
}

#userInfo {
	float: left;
	border: 0px solid #3a3;
	width: 50%;
	text-align: right;
}

#logout{
	float: left;
	border: 0px solid #3a3;
	width: 5%;
	text-align: right;
}

#menu-1 {
	width: 20%;
	float: left;
	border: 0px solid #000;
}

#content {
	width: 80%;
	float: left;
	overflow: auto;
	border: 0px solid #000;
}

#footer {
	clear: both;
	text-align: center;
	border: 1px solid #000;
}

/**
#mainContainer {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
}

#header {
	width: 100%;
	 
	font-family: 'Trebuchet MS';
	font-size: 26px;
	display: none_;
	border-radius: 3px;
	border: 1px solid #333;
}

#bankInfo {
	width: 100px;
	border: 1px solid #333;
}

#userInfo {
	width: 100px;
	border: 1px solid #333;
	float: right;
}

#menu-1 {
	
}
*/