@CHARSET "UTF-8";

#header {
	width: 100%;
	/*	background-color: #d0e4fe;*/
	font-family: 'Trebuchet MS';
	font-size: 26px;
	display: none_;
	border-radius: 3px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 0px;
	border: 1px solid #333;
	/* Otros estilos  
background:#eee;
width:100%;
padding:5px;*/
}

#mainContainer {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	/*
	border:1px solid #333;*/
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari y Chrome */
}

#logoBank {
	height: 120px;border: 1px solid #333;
}

#menu-1 {
	
}

#bankInfo {
	width: 50%;
	border: 1px solid #333;
}

#userInfo {
	width: 50%;
	border: 1px solid #333;
}