@CHARSET "UTF-8";


/*
input:focus, textarea:focus, select:focus
{
	BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
  
}

input, textarea, select
{
	BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #F0F0F0   
}


a.cCancel
{
    FONT-SIZE: 10pt;
    COLOR: #000e78;
    FONT-FAMILY: Tahoma;
    TEXT-DECORATION: none
}
/ *
html { overflow-x:hidden; }
* /
BODY
{
    FONT-FAMILY: msam10, Symbol, OpenSymbol, 'MT Extra', Marlett, 'Courier New';
    BACKGROUND-COLOR: #FCFCFC
}
SPAN.cInfo
{
    FONT-SIZE: smaller;
    CURSOR: default;
    COLOR: brown;
    FONT-FAMILY: Tahoma
}
SPAN.cMessage
{
    FONT-WEIGHT: 900;
    FONT-SIZE: 20px;
    CURSOR: default;
    COLOR: brown;
    FONT-FAMILY: Tahoma
}
.cLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    CURSOR: default;
    FONT-FAMILY: Tahoma
}
.cData
{
    FONT-SIZE: smaller;
    CURSOR: default;
    COLOR: brown;
    FONT-FAMILY: Tahoma
}

.cWarning
{
    FONT-WEIGHT: bold; 
    FONT-SIZE: smaller;
    FONT-FAMILY: Tahoma;
    COLOR: #303030 ;
    background-color:#FFFF99 ;
}

.cError
{
    FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    CURSOR: default;
    FONT-FAMILY: Tahoma;
    COLOR: red;
}

.cErrorTD
{
    FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    CURSOR: default;
    FONT-FAMILY: Tahoma;
    COLOR: yellow;
    background-color: red
}

H1.cTitle
{
    CURSOR: default;
    COLOR: firebrick;
    FONT-FAMILY: 'Arial Black';
    TEXT-DECORATION: underline
}
H2.cTitle2
{
    CURSOR: default;
    COLOR: firebrick;
    FONT-FAMILY: 'Arial';
    TEXT-DECORATION: underline
}
TD.cHeadTD
{
    BORDER-RIGHT: black 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px solid;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: white 1px solid;
    CURSOR: default;
    COLOR: black;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #c8c8c8
}
TD.cDataTD
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px;
    FONT-SIZE: smaller;
    CURSOR: default;
    COLOR: brown;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #FFFAFA
}
TD.cDataTD_odd
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px;
    FONT-SIZE: smaller;
    CURSOR: default;
    COLOR: brown;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #F5F5F5
}

XINPUT.cInputFocus
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: brown;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: lemonchiffon
}
XINPUT.cInputNoFocus
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: brown;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white
}
XSELECT.cSelectFocus
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: brown;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: lemonchiffon
}
XSELECT.cSelectNoFocus
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: brown;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white
}
XINPUT.cButtonFocus
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: lemonchiffon
}

XINPUT.cButtonNoFocus
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #c8c8c8
}
TABLE.cList
{
    BORDER-RIGHT: black 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: black 1px;
    BORDER-LEFT: black 1px solid;
    WIDTH: 100%;
    CURSOR: default;
    BORDER-BOTTOM: black 1px
}
CAPTION
{
    FONT-WEIGHT: bold;
    FONT-SIZE: smaller;
    CURSOR: default;
    COLOR: moccasin;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: darkred;
    TEXT-ALIGN: center
}
XTEXTAREA.cTextareaFocus
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: brown;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: lemonchiffon
}
XTEXTAREA.cTextareaNoFocus
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: brown;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white
}

div.contentScroll{
	height: 250px;
	width: 90%;
	overflow: scroll;
	position: relative;
}
*/